.paper_status_container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  .paper_status_header
    height: fit-content
    hr
      border: none
      height: 2px
      background: var(--border-color)
    .paper_status_headline
      margin: 15px 25px
      color: var(--font-headline)
      transition: .3s
  .grid_container
    display: grid
    grid-template-columns: 3fr 2fr