.login_info
  display: flex
  height: 100%
  .el-result__title
    margin-top: 10px !important
    margin-bottom: 10px
  .el-result__extra
    margin-top: 15px

.el-collapse-item__content
  padding-bottom: 10px !important

.send_msg
  .el-collapse-item__header
    cursor pointer !important
    color var(--font-color) !important