info_hover()
  transition: .3s
  &:hover
    background: #d4af7a
    color: white

button_hover()
  transition: .3s
  &:hover
    color: #d4af7a

:root
  --input-bg: #f6f8fa
  --input-focus-bg: white
  --button-bg: white
  --button-focus-bg: #ebf8ff
  --font-color: black
  --font-disabled-color: #656d76
  --font-headline: grey
  --font-grey: #bbb
  --border-color: #eee
  --border-grey: #eee
  --border-focus-color: #409eff
  --shadow-inset: inset 0 1px 0 rgba(208,215,222,0.2)
  --type-bg: #EDF2F7
  --type-pdf-bg: #FEFCBF
  --type-doc-bg: #FED7D7
  --type-docx-bg: #FEEBC8
  --statu-unknown: rgb(238, 238, 238)
  --mask-bg: rgba(164, 164, 164, 0.3)
:root.dark
  --input-bg: #4e4e4e
  --input-focus-bg: #ccc
  --button-bg: #ccc
  --button-focus-bg: #ededed
  --font-color: white
  --font-disabled-color: #ddd
  --font-headline: white
  --border-color: #1f1f1f
  --border-grey: #1f1f1f
  --border-focus-color: #1f1f1f
  --shadow-inset: none
  --type-bg: #414141
  --type-pdf-bg: #c6c23a
  --type-doc-bg: #e98181
  --type-docx-bg: #eec477
  --statu-unknown: #545454
  --mask-bg: rgba(0, 0, 0, 0.7)