.v-enter-active,
.v-leave-active
  transition: all .6s ease-in-out;

.v-enter-from
  transform: translateX(100vw)
.v-enter-to
  transform: translateX(0)
.v-leave-from
  transform: translateX(0)
.v-leave-to
  transform: translateX(-100vw)

.fade-enter-active,
.fade-leave-active
  transition: all .3s ease-in-out

.fade-enter-from
  opacity 0
.fade-enter-to
  opacity 1
.fade-leave-from
  opacity 1
.fade-leave-to
  opacity 0